include LICENSE
include THIRD_PARTY_NOTICES.md
recursive-include LICENSES *
recursive-include oneDNN_extension_demo/csrc *.cpp *.h
recursive-include tools *.py *.sh
include oneDNN_extension_demo/libdnnl.so
include oneDNN_extension_demo/libdnnl.so.3
include oneDNN_extension_demo/libdnnl.so.3.8
